:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  border-radius: 6px;
  background: transparent;
  width: auto;
  min-height: 80px;
  max-height: 600px;
  overflow: hidden;
}

.logo {
  height: 2em;
  will-change: filter;
  transition: 0.75s;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}


button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}
button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

input,
button {
  outline: none;
}

#greet-input {
  margin-right: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }
}


/* 隐藏滚动条 */
::-webkit-scrollbar {
  width: 0.5rem; /* 设置滚动条宽度 */
  background-color: transparent; /* 设置滚动条背景颜色 */
}

/* 隐藏滚动条上的滑块 */
::-webkit-scrollbar-thumb {
  background-color: transparent; /* 设置滑块颜色 */
}

/* 隐藏滚动条上的滑块悬停时的样式 */
::-webkit-scrollbar-thumb:hover {
  background-color: transparent; /* 设置滑块悬停时的颜色 */
}

/* 隐藏滚动条上的轨道 */
::-webkit-scrollbar-track {
  background-color: transparent; /* 设置轨道背景颜色 */
}

/* 隐藏滚动条上的轨道悬停时的样式 */
::-webkit-scrollbar-track:hover {
  background-color: transparent; /* 设置轨道悬停时的颜色 */
}
